
.SelectPlanWrap {
    background-color: #000000;
    border: 1px solid black;
    color:white;
    padding:20px 40px ;
}
.SelectPlanWrap h1{
    color: #fff;
    font-size: 3rem;
}
.SelectPlanWrap p{
    color: #fff;
    line-height: 15px;
}

@media (max-width:500px) {
    .SelectPlanWrap h1{
        font-size: 1.7rem;
    }
}














.toggle {
    position: relative;
    width: 60px;
    height: 34px;
    background-color: #706767;
    border-radius: 17px;
    /* margin-bottom: -400px; */
    cursor: pointer;
  }
  .toggle2{
    position: relative;
    /* display: inline-block; */
    width: 60px;
    height: 34px;
    /* background-color: #706767; */
    border-radius: 17px;
    margin-bottom: -20px;
    cursor: pointer;
    background-color: #1ce783;
  }
  .inner-circle {
    position: absolute;
    top: 2px;
  
    left: 2px;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 15px;
    transition: transform 0.2s;
  }
  .inner-circle2{
    position: absolute;
    right: 0px;
    top: 2px;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 15px;
    transition: transform 0.2s;
  }

.huluLogo{
    width: 190px ;
}
.wrap2 h4{
    color: #1ce783;
    margin-top: 0;
}
.wrap2 h2{
    margin-bottom: 5px ;
    font-size: 1rem;
}
.wrap2{
    display: flex;
    gap: 10px ;
    align-items: flex-start;
    
}
.planTextGrid{
    display: grid; 
     gap: 5px;
    font-family: sans-serif;
}
.planTextGrid2 div{
    padding-top: 30px ;
}
.planTextGrid2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}


.planTextGrid p{
     /* padding-top: 5px; */
     padding-bottom: 5px; 
    border-bottom: 1px solid grey ;
    
}
.popularWrap h4{
color: #706767;
margin-bottom: 5px;
}
.popularWrap h3{
    margin-top: 4px;
}
.mostPopular{
     background-color: #1ce783;
     border: none;
     border-radius: 5rem;
     font-size: 10px;
     font-weight: bolder;
     padding: 5px 10px ;
}
.popularWrap{
    text-align: center;
}

.price{
    height: 40px;
    width: 70%;
    border: none;
    border-radius: 4px;
    background-color:white;
    font-weight: bolder;

}
.flexPlan{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 20px;
    justify-content: center;
    padding: 50px 0px ;

    
}
.hulu-logo{
    width: 200px;
    /* margin-bottom: 0px ; */
    /* height: 100px; */
}

@media(max-width:900px){
    .hide2{
        display:none;
    }
    .flexPlan{
        grid-template-columns: 1fr;
    }
    
}