body{
    background-color: #e4dfdf;
}

.flexAccount{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px ;
    padding-bottom: 100px ;

}
.flexAccount img{
    width: 80px;
}
.flexAccount a{
    text-decoration: none;
    color: black;
}
.continueWrap{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.continueWrap small{
    color: #636e85;

}
.continueWrap button{
    border: none;
    cursor: pointer;
    background-color: #272c3580;
    color: #b9bfc8;
    height: 45px;
    border-radius: 5px;
}